In [12]:
import xlwings as xw
import os
import glob
import pandas as pd

In [13]:
#xl_list = glob.glob('C:/python_automation/02. 엑셀자동화/02. xlwings/data1/onlinesale_data/*.xlsx')

In [14]:
folder_path = r'C:\python_automation\02. 엑셀자동화\02. xlwings\data1\onlinesale_data'
file_list = os.listdir(folder_path)
total_df = pd.DataFrame()
for files in file_list:
    excel_path = os.path.join(folder_path, files)
#엑셀 불러오기
    wb = xw.Book(excel_path)
    ws = wb.sheets['data']
    df = ws.range('A1').options(pd.DataFrame, expand='table', index=False).value
    total_df = pd.concat([total_df, df],ignore_index=True)
    xw.apps.active.quit()

total_df.to_excel(f'{folder_path}/total.xlsx')

In [6]:
#연습 : 1개의 엑셀 파일을 데이터 프레임으로 변경
wb = xw.Book(excel_path)
ws = wb.sheets['data']
df = ws.range('A1').options(pd.DataFrame, expand = 'table',index=False).value
xw.apps.active.quit()
df

        제품명        가격   수량         합계
0   게이밍 마우스   40000.0  3.0   120000.0
1    마우스 패드   20000.0  2.0    40000.0
2   기계식 키보드  120000.0  1.0   120000.0
3   게이밍 마우스   40000.0  5.0   200000.0
4  32인치 모니터  350000.0  5.0  1750000.0
5    마우스 패드   20000.0  1.0    20000.0
6   게이밍 마우스   40000.0  1.0    40000.0
7  32인치 모니터  350000.0  3.0  1050000.0
8   게이밍 마우스   40000.0  1.0    40000.0
9   게이밍 마우스   40000.0  4.0   160000.0

In [7]:
folder_path = r'C:\python_automation\02. 엑셀자동화\02. xlwings\data1\onlinesale_data'
excel_path = os.path.join(folder_path, '쿠팡.xlsx')
wb = xw.Book(excel_path)
ws = wb.sheets['data']
df2 = ws.range('A1').options(pd.DataFrame, expand = 'table',index=False).value
xw.apps.active.quit()
df2

       제품명        가격   수량        합계
0  기계식 키보드  120000.0  2.0  240000.0
1  게이밍 마우스   40000.0  4.0  160000.0
2  게이밍 마우스   40000.0  4.0  160000.0
3  기계식 키보드  120000.0  1.0  120000.0
4  기계식 키보드  120000.0  1.0  120000.0

In [11]:
pd.concat([df,df2]).reset_index(drop=True)
new_df = pd.concat([df,df2],ignore_index=True)

         제품명        가격   수량         합계
0    게이밍 마우스   40000.0  3.0   120000.0
1     마우스 패드   20000.0  2.0    40000.0
2    기계식 키보드  120000.0  1.0   120000.0
3    게이밍 마우스   40000.0  5.0   200000.0
4   32인치 모니터  350000.0  5.0  1750000.0
5     마우스 패드   20000.0  1.0    20000.0
6    게이밍 마우스   40000.0  1.0    40000.0
7   32인치 모니터  350000.0  3.0  1050000.0
8    게이밍 마우스   40000.0  1.0    40000.0
9    게이밍 마우스   40000.0  4.0   160000.0
10   기계식 키보드  120000.0  2.0   240000.0
11   게이밍 마우스   40000.0  4.0   160000.0
12   게이밍 마우스   40000.0  4.0   160000.0
13   기계식 키보드  120000.0  1.0   120000.0
14   기계식 키보드  120000.0  1.0   120000.0

In [15]:
#자동 열 너비 맞추기
wb = xw.Book(os.path.join(folder_path, 'total.xlsx'))
ws = wb.sheets['Sheet1']
ws.autofit(axis='columns')
wb.save(os.path.join(folder_path, 'total.xlsx'))
xw.apps.active.quit()