In [1]:
import pandas as pd

df = pd.read_excel('memver.xlsx', index_col='번호')
df

     이름  출생년도 출생지  담당파트  체중
번호
1번    진  1992  과천  서브보컬  61
2번    뷔  1995  대구  서브보컬  63
3번   정국  1997  부산  메인보컬  66
4번   슈가  1993  대구  리드래퍼  57
5번  제이홉  1994  광주  메인댄서  59
6번   RM  1994  서울    리더  70
7번   지민  1995  부산  메인댄서  58

In [2]:
# 계산 가능한 데이터에 대해 요약 테이블 생성 
df.describe()

              출생년도         체중
count     7.000000   7.000000
mean   1994.285714  62.000000
std       1.603567   4.690416
min    1992.000000  57.000000
25%    1993.500000  58.500000
50%    1994.000000  61.000000
75%    1995.000000  64.500000
max    1997.000000  70.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 1번 to 7번
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      7 non-null      object
 1   출생년도    7 non-null      int64
 2   출생지     7 non-null      object
 3   담당파트    7 non-null      object
 4   체중      7 non-null      int64
dtypes: int64(2), object(3)
memory usage: 336.0+ bytes

In [4]:
#처음 5개에 row 가져오기 
df.head(n=5) #마지막 : tail

     이름  출생년도 출생지  담당파트  체중
번호
1번    진  1992  과천  서브보컬  61
2번    뷔  1995  대구  서브보컬  63
3번   정국  1997  부산  메인보컬  66
4번   슈가  1993  대구  리드래퍼  57
5번  제이홉  1994  광주  메인댄서  59

In [9]:
df.columns #col 정보 확인
df.shape #row, col 갯수

(7, 5)

In [11]:
df['체중'] #특정 col 확인
df['체중'].nlargest(3)

번호
6번    70
3번    66
2번    63
Name: 체중, dtype: int64

In [14]:
df['체중'].nsmallest(3).index

Index(['4번', '7번', '5번'], dtype='object', name='번호')

In [16]:
df['담당파트'].unique()

array(['서브보컬', '메인보컬', '리드래퍼', '메인댄서', '리더'], dtype=object)