In [38]:
import pandas as pd

df = pd.read_excel('memver.xlsx', index_col='번호')

In [39]:
df[['이름','출생지']] #여러개의 col 선택

     이름 출생지
번호
1번    진  과천
2번    뷔  대구
3번   정국  부산
4번   슈가  대구
5번  제이홉  광주
6번   RM  서울
7번   지민  부산

In [40]:
df.columns[0]

'이름'

In [41]:
#1~4번까지 출생지 데이터 
df[df.columns[2]].head(n=4)
df[df.columns[2]][0:4]

번호
1번    과천
2번    대구
3번    부산
4번    대구
Name: 출생지, dtype: object

In [42]:
#1~3번까지 이름과 출생지 
df[['이름','출생지']][0:3]

    이름 출생지
번호
1번   진  과천
2번   뷔  대구
3번  정국  부산

In [43]:
#새로운 col 추가하기
#df[컬럼명]=데이터 
df['컬럼명'] = [1,2,3,4,5,6,7]

In [44]:
df

     이름  출생년도 출생지  담당파트  체중  컬럼명
번호
1번    진  1992  과천  서브보컬  61    1
2번    뷔  1995  대구  서브보컬  63    2
3번   정국  1997  부산  메인보컬  66    3
4번   슈가  1993  대구  리드래퍼  57    4
5번  제이홉  1994  광주  메인댄서  59    5
6번   RM  1994  서울    리더  70    6
7번   지민  1995  부산  메인댄서  58    7

In [51]:
#열 삭제
df = df.drop(columns='컬럼명')
df

In [ ]:

cond1 = df['출생지'].isin(['대구','서울'])
df[cond1]