In [1]:
import pandas as pd

df = pd.read_excel('memver.xlsx', index_col='번호')

In [10]:
df[['이름','출생지']] #여러개의 col 선택

    이름  출생년도 출생지  담당파트  체중
번호
2번   뷔  1995  대구  서브보컬  63
4번  슈가  1993  대구  리드래퍼  57
6번  RM  1994  서울    리더  70

In [ ]:

cond1 = df['출생지'].isin(['대구','서울'])
df[cond1]